# Research

In [1]:
import pandas as pd

In [3]:
global_population_df = pd.read_csv("data/global_population.csv")

global_population_df.head()

,Rank,Country,Median Age,Percent Urban,Fertility Rate,Net Migrants,1970 Population,1980 Population,1990 Population,2000 Population,2010 Population,2020 Population,Net Change,Average Decade Change,Global Population (%)
0,37,Afghanistan,18,25,4.6,-62920,10752971,12486631,10694796,19542982,28189672,38972230,28219259,5643852,0.503700
1,129,Albania,36,63,1.6,-14000,2324731,2941651,3295066,3182021,2913399,2866849,542118,108424,0.037053
2,35,Algeria,29,73,3.1,-10000,13795915,18739378,25518074,30774621,35856344,43451666,29655751,5931150,0.561595
3,43,Angola,17,67,5.6,6413,6029700,8330047,11828638,16394062,23364185,33428485,27398785,5479757,0.432050
4,183,Antigua and Barbuda,34,26,2.0,0,64516,64888,63328,75055,85695,92664,28148,5630,0.001198

## Questions

### Question: What are the most populated countries?

In [ ]:
# ...

### Question: Which countries had the highest population growth?

In [ ]:
# ...

### Question: Does the urban population percentage help predict population growth?

In [ ]:
# ...